<h2>Incident Resolution Recommendation Engine</h2>
<div class="shadow">
  <div class="formclass">
    <form class="example-form">
      <div class="ci">
        <p class="para">Incident Number : </p>
        <mat-form-field class="example-full-width">

          <input name="In" matInput placeholder="Incident" [(ngModel)]="t1">
        </mat-form-field>
      </div>
      <div class="ci">
        <p class="para">CI : </p>
        <mat-form-field class="example-full-width">
          <input name="ci" matInput placeholder="CI" [(ngModel)]="t2">
        </mat-form-field>
      </div>
      <div class="ci">
        <p class="para">Summary : </p>
        <mat-form-field class="example-full-width">
          <textarea name="Summary" matInput placeholder="Summary" [(ngModel)]="t3"></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="but">
    <button mat-raised-button color="primary" (click)="Submit()">Predict</button>
  </div>
</div>
<div>
<div *ngIf="flag">
<mat-spinner *ngIf="!dataSource" style="margin-left:45%; position:absolute;"></mat-spinner></div>
  <table *ngIf="flag" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Date Column -->
    <ng-container matColumnDef="Create_Date">
      <th mat-header-cell *matHeaderCellDef> Created Date </th>
      <td mat-cell *matCellDef="let number"> {{number.Create_Date}} </td>
    </ng-container>
    <!-- Ticket Number Column -->
    <ng-container matColumnDef="TicketNumber">
      <th mat-header-cell *matHeaderCellDef> Incident Number </th>
      <td mat-cell *matCellDef="let number"> {{number.TicketNumber}} </td>
    </ng-container>

    <!-- CI Column -->
    <ng-container matColumnDef="CI">
      <th mat-header-cell *matHeaderCellDef> CI </th>
      <td mat-cell *matCellDef="let number"> {{number.CI}} </td>
    </ng-container>

    <!-- Summary Column -->
    <ng-container matColumnDef="Summary">
      <th mat-header-cell *matHeaderCellDef> Summary </th>
      <td mat-cell *matCellDef="let number"> {{number.Summary}} </td>
    </ng-container>

    <!-- Notes Column -->
    <ng-container matColumnDef="Notes">
      <th mat-header-cell *matHeaderCellDef> Notes </th>
      <td mat-cell *matCellDef="let number"> <button mat-icon-button (click)="openDialog(number.Notes)"><mat-icon>notes</mat-icon></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
